@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Nunito');

.register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Register{
    text-align: center;
}

#passwordHelpBlock{
    color: rgb(223, 221, 221);
    font-size: 13px;
}

.regInput {
    width: 40% !important;
    margin: auto;
}

.Register h2{
    font-family: 'Inconsolata';
}

.col-form-label{
    font-family: 'Nunito';
    font-size: 1.2em;
}