@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Nunito');

.Login h2{
    font-family: 'Inconsolata';
}

.col-form-label{
    font-family: 'Nunito';
    font-size: 1.2em;
}

.Login {
    text-align: center;
}

.toastify-content--success .toastify__body {
    background: #07bc0c;
}

.toastify-content--error .toastify__body{
    background: #e74c3c;
}


/* .toastify-content {
    background: initial;
}
.toastify-content--success{
    color: #07bc0c;
}
.toastify-content--error {
    color: #e74c3c;
}

.toastify{
    background: none;
} */